extends ../layout

block content
		.body3
				.main
						- if (resultado.length)
								div.section
									ol.section.list-view
										each producto in resultado
											li.article
												div.rowItem
													h2.list-view-item-title #{producto.nombre}
													br
													img.row-viewer(src='uploads/#{producto.imagen.src}', width='250', height='250')
													ul.details
														li.cost
															div.price-wrap
																span.ch-price Bs. #{producto.precio}
																	sup 00

						- else
								p No tiene producto