extends ../layout

block content
		.body3
				.main
					div
						a(href="/productos/nuevo_producto")
							button.button(type="button") Agregar producto

						button.button(type="button") Eliminar producto
						- if (resultado.length)
								div.section
									ol.section.list-view
										each producto in resultado
											li.article
												div.rowItem
													a(href="/")
														h2.list-view-item-title #{producto.nombre}
													br
													img.row-viewer(src='uploads/#{producto.imagen.src}')
													ul.details
														li.cost
															span.ch-price Bs. #{producto.precio}
																sup 00
														button.buttonCesta(type="button") Agregar producto

						- else
								p No tiene producto
