extends ../layout

block content
		.body3
				.main
					div
						.barraFiltro
							.nav.vertical-qcat(role="navigation")
									dl#id_category
										dt.dt-title Categorías
										dd
											h3
												a(title='Mujer', href='http://listado.mercadolibre.com.ve/camisas-mujer/_DisplayType_G')  Mujer 
											em (2706)
										dd
											h3
												a(title='Hombre', href='http://listado.mercadolibre.com.ve/ropa-masculina-camisas/_DisplayType_G')  Hombre 
											em (4218)
									dl#id_state
										dt.dt-title Ubicación
										dd
											a(title='Distrito Capital', href='http://listado.mercadolibre.com.ve/camisas-en-distrito-capital/_DisplayType_G')  Distrito Capital 
											em (3306)
										dd
											a(title='Zulia', href='http://listado.mercadolibre.com.ve/camisas-en-zulia/_DisplayType_G')  Zulia 
											em (958)
										dd
											a(title='Miranda', href='http://listado.mercadolibre.com.ve/camisas-en-miranda/_DisplayType_G')  Miranda 
											em (896)
										dd
											a(title='Carabobo', href='http://listado.mercadolibre.com.ve/camisas-en-carabobo/_DisplayType_G')  Carabobo 
									dl#id_price
										dt.dt-title Rango de precios
										dd
											a(title='Hasta Bs.2.000', href='http://listado.mercadolibre.com.ve/camisas/_DisplayType_G_PriceRange_0-2000')  Hasta Bs.2.000 
											em (2263)
										dd
											a(title='Bs.2.000 a Bs.5.000', href='http://listado.mercadolibre.com.ve/camisas/_DisplayType_G_PriceRange_2000-5000')  Bs.2.000 a Bs.5.000 
											em (3350)
										dd
											a(title='Más de Bs.5.000', href='http://listado.mercadolibre.com.ve/camisas/_DisplayType_G_PriceRange_5000-0')  Más de Bs.5.000 
										em (3041)
										dd
											form#priceForm.range-filter(action='#', method='get')
											fieldset
											legend Rango de precios
											ul
												li
													label(for='fromPrice')
														input#fromPrice.price-number(type='text', value='Mín.', tabindex='3')
												li
													label(for='toPrice')
													span  - 
														input#toPrice.price-number(type='text', value='Máx.', tabindex='4')
												p.actions
													input.btn(type='submit', value='Filtrar', title='Filtrar')
						a(href="/productos/nuevo_producto")
							button.button(type="button") Agregar producto

						button.button(type="button") Eliminar producto
						- if (resultado.length)
								div.section
									ol.section.list-view
										each producto in resultado
											li.article
												div.rowItem
													a(href="/")
														h2.list-view-item-title #{producto.nombre}
													br
													img.row-viewer(src='uploads/#{producto.imagen.src}')
													ul.details
														li.cost
															span.ch-price Bs. #{producto.precio}
																sup 00
														button.buttonCesta(type="button") Agregar producto

						- else
								p No tiene producto
