.body4
      .main
        article#content2
          .wrapper
            section.col3.pad_left2
              h4 Dirección
              ul.address
                li
                  span Dirección:
                  | Av. San Martín, Centro Comercial "Los Molinos", piso 2, local 75-C Caracas – Venezuela
                li
                  span Teléfonos:
                  | (0212) 452.20.03 / (0212) 452.21.43
                li
                  span Móviles:
                  |  (0414) 292.64.62 / (0416) 828.76.18
                li
                  span Email:
                  a(href='mailto:') sael.gonzalez@officelogistics.org
            section.col3.pad_left2
              h4 Follow Us
              ul#icons
                li
                  a(href='#')
                    img(src='/images/icon1.jpg', alt='')
                    | Facebook
                li
                  a(href='#')
                    img(src='/images/icon2.jpg', alt='')
                    | Twitter
                li
                  a(href='#')
                    img(src='/images/icon3.jpg', alt='')
                    | LinkedIn
                li
                  a(href='#')
                    img(src='/images/icon4.jpg', alt='')
                    | Delicious
            section.col2.right
              h4 Newsletter
              form#newsletter(method='post')
                div
                  .wrapper
                    input.input(type='text', value='Type Your Email Here', onblur="if(this.value=='') this.value='Type Your Email Here'", onfocus="if(this.value =='Type Your Email Here' ) this.value=''")
                  a.button(href='#', onclick="document.getElementById('newsletter').submit()") Subscribe
        // content end