doctype html
html
  head
    title Office Logistics
    meta(charset='utf-8')
    link(rel='stylesheet', href='/css/reset.css', type='text/css', media='all')
    link(rel='stylesheet', href='/css/layout.css', type='text/css', media='all')
    link(rel='stylesheet', href='/css/style.css', type='text/css', media='all')
    script(type='text/javascript', src='/js/jquery-1.6.js')
    script(type='text/javascript', src='/js/cufon-yui.js')
    script(type='text/javascript', src='/js/cufon-replace.js')
    script(type='text/javascript', src='/js/Swis721_Cn_BT_400.font.js')
    script(type='text/javascript', src='/js/Swis721_Cn_BT_700.font.js')
    script(type='text/javascript', src='/js/jquery.easing.1.3.js')
    script(type='text/javascript', src='/js/tms-0.3.js')
    script(type='text/javascript', src='/js/tms_presets.js')
    script(type='text/javascript', src='/js/jcarousellite.js')
    script(type='text/javascript', src='/js/script.js')
  body
    .body1
      .body2
        .main
          // header
          header
            .wrapper
              h1
                a#logo(href='/') Progress Business Company
              nav
                ul#menu
                  li#nav1.active
                    a(href='/')
                      | Home
                      span ¡Bienvenido!
                  li#nav2
                    a(href='/nuevo_usuario')
                      | Cuenta
                      span Nuevo
                  li#nav3
                    a(href='Services.html')
                      | Services
                      span for you
                  li#nav4
                    a(href='productos')
                      | Productos
                      span Tienda Online
                  li#nav5
                    a(href='Contacts.html')
                      | Contacts
                      span Our Address
          .ic More Website Templates  at TemplateMonster.com!
          // header end
        .body6

    block content

    include ./body4.jade
    include ./main.jade
    
