.main
      // footer
      footer
        a(rel='nofollow', href='http://www.templatemonster.com/', target='_blank') Website Template
        |  by TemplateMonster.com
        br
        a(href='http://www.templates.com/product/3d-models/', target='_blank') 3D Models
        |  provided by Templates.com
      // footer end