extends ../layout

block content
	.body3
		.main
			form(method="POST", action="/login/nuevo_usuario")
				.tabla
					table.agregar
						tr
							td#rows Datos Personales
						tr
							td Nombre:
							td 
								input(type="text" name="nombre" required)
						tr
							td Apellidos:
							td
								input(type="text" name="apellidos" required)
						tr
							td Email:
							td 
								input(type="text" name="email" required)
						tr
							td#rows Empresa
						tr
							td Empresa:
							td
								input(type="text" name="empresa" required)
						tr
							td#rows Dirección
						tr
							td RIF:
							td 
								input(type="text" name="rif" required)
						tr
							td Dirección:
							td 
								input(type="text" name="direccion" required)
						tr
							td Código Postal:
							td 
								input(type="text" name="codigo_postal" required)
						tr
							td Población:
							td 
								input(type="text" name="poblacion" required)
						tr
							td Provincia/Estado:
							td 
								input(type="text" name="provincia_estado" required)
						tr
							td País:
							td 
								input(type="text" name="pais" required)
						tr
							td#rows Datos de Contacto
						tr
							td Teléfono:
							td 
								input(type="text" name="telefono" required)
						tr
							td Fax:
							td 
								input(type="text" name="fax" required)
						tr
							td#rows Contraseña
						tr
							td Contraseña:
							td 
								input(type="password" name="password" required)
						tr
							td Repetir contraseña:
							td 
								input(type="password" name="password1" required)
						tr
							td
								button.btnAgregar(type='submit', value='submit') Crear
