block content
  h1 Mis Tareas

  - if(docs.length)
    table
      tr
        th Tarea
          each tarea in docs
            tr
              td #{tarea.tarea}
  - else
    p No tienes ninfuna tarea